[submodule "lib/TinyWindow"]
	path = lib/TinyWindow
	url = https://github.com/ziacko/TinyWindow
[submodule "lib/TinyExtender"]
	path = lib/TinyExtender
	url = https://github.com/ziacko/TinyExtender
[submodule "lib/TinyShaders"]
	path = lib/TinyShaders
	url = https://github.com/ziacko/TinyShaders
